@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --color-background: #fff;
    /* Fondo de la página */
    --color-button: #88A7D0;
    /* Color de botón */
    --color-button-hover: #789DCA;
    /* Color de botón al pasar el cursor */
    --color-navigation-bar: #57BD9E;
    /* Color de la barra de navegación */
    --color-secondary-heading: #2CA880;
    /* Color de títulos secundarios */
    --color-primary-heading: #009D71;
    /* Color de títulos principales */
    --color-text: #333;
    /* Color de texto */
    --color-card: #FBFAFB;
    /* Color de tarjetas */
    --color-card-border: #E2E2E2;
    --color-control: #789DCA;
    /* Color de los controles */
}


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    user-select: none;
    background: var(--color-background);
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--color-primary-heading);
}

h3 {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--color-secondary-heading);
}

p,
ul {
    font-size: 0.875rem;
    margin-bottom: 1rem;
    color: var(--color-text);
}

li {
    font-size: 0.875rem;
    color: var(--color-text);
}

.btn-primary {
    --bs-btn-bg: var(--color-button);
    /* Color de botón */
    --bs-btn-border-color: var(--color-button-hover);
    /* Color de borde de botón */
    --bs-btn-hover-bg: var(--color-button-hover);
    /* Color de botón al pasar el cursor */
    --bs-btn-hover-border-color: var(--color-button-hover);
    /* Color de borde de botón al pasar el cursor */
    --bs-btn-disabled-color: var(--color-text);
    /* Color de texto de botón deshabilitado */
    --bs-btn-disabled-bg: var(--color-button);
    /* Color de botón deshabilitado */
    --bs-btn-disabled-border-color: var(--color-button);
    /* Color de borde de botón deshabilitado */
    --bs-btn-focus-bg: var(--color-button-hover);
    /* Color de botón al enfocar */
    --bs-btn-focus-border-color: var(--color-button-hover);
    /* Color de borde de botón al enfocar */
    --bs-btn-active-bg: var(--color-button-hover);
    /* Color de botón al hacer click */
    --bs-btn-active-border-color: var(--color-button-hover);
    /* Color de borde de botón al hacer click */
    --bs-btn-font-size: 0.875rem;
    /* Tamaño de texto de botón */
    --bs-btn-font-weight: 800;
    /* Grosor de texto de botón */
    --bs-btn-padding-x: 1rem;
    /* Padding horizontal de botón */
    --bs-btn-padding-y: 0.5rem;
    /* Padding vertical de botón */
    --bs-btn-border-radius: 5px;
    /* Radio de borde de botón */
    transition: transform 0.2s ease-in-out;
}

.btn-primary:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}

@media (min-width: 767px) {
    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    p,
    ul {
        font-size: 1.2rem;
    }

    li {
        font-size: 1.2rem;
    }

    .btn-primary {
        font-size: 1.2rem;

    }
}