{% extends 'base.html' %}

{% block content %}
{% load custom_filters %}

<style>
    .card #album {
        padding: 0.5rem;
    }

    .card #album .card-title {
        color: var(--color-secondary-heading);
        font-size: 0.8rem;
        font-weight: 600;
        margin-top: 1rem;
    }

    .card #album .card-text {
        color: var(--color-text);
        font-size: 0.7rem;
    }

    .card #album .card-created {
        color: var(--color-text);
        font-size: 0.55rem;
    }

    .card.clickable {
        border-radius: 8px;
        background-color: var(--color-card);
        cursor: pointer;
        transition: all 0.3s ease;
        min-height: 100%;
        border: none;
        transition: all 0.3s ease;
        transform: translateY(0rem);
        box-shadow: 0 0 0 0.1rem var(--color-card-border);
    }

    .card.clickable:hover {
        background-color: var(--color-card);
        box-shadow: 0 0 0 0.2rem var(--color-card-border);
        transition: all 0.3s ease;
        transform: translateY(-0.5rem);
    }

    .card #album img {
        border-radius: 6px;
        width: 100%;
        height: 100%;
        /* Esto permite que la imagen conserve su proporción */
        object-fit: cover;

        box-shadow: 0 0 0 0.1rem var(--color-card-border);
    }

    .content-cards {
        padding: 0.5rem;
    }


    @media (min-width: 992px) {
        .content-cards {
            padding: 0.7rem;
        }

        .card #album {
            padding: 0.7rem;
        }

        .card #album .card-title {
            font-size: 0.9rem;
        }

        .card #album .card-text {
            font-size: 0.8rem;
        }

        .card #album .card-created {
            font-size: 0.6rem;
        }
    }
</style>


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-9">
            <div class="mt-5">
                <h2 id="saludo" class="mt-0">Bienvenido</h2>

                <p>
                    En esta sección, encontrarás los álbumes generados por el Algoritmo Genético. Periódicamente, se
                    generan nuevas piezas musicales y se añaden a los álbumes. 
                </p>
                <!-- Si el usuario es administrador puede ver el formulario -->
                {% if user.is_superuser %}
                <hr />
                <div class="d-flex justify-content-start align-items-center">
                    <form method="post">
                        {% csrf_token %}
                        <!-- Otros campos del formulario -->
                        <button type="submit" class="btn btn-primary">Generar Álbum <i
                                class="fa-solid fa-chevron-right"></i></button>
                    </form>
                </div>
                {% endif %}
                <hr />
                <h3>Álbumes</h3>
            </div>
            <div class="row justify-content-start">
                {% for generation in generations %}
                <div class="col-4 col-md-4 col-lg-4 col-xl-3 content-cards">

                    <div class="card clickable card-container" id="album" data-href="generations/{{ generation.id }}/">
                        <div id="album" class="card-body">
                            <img src="{{ generation.img.url }}" alt="Álbum {{ generation.id }}" />

                            <div class="card-title">Álbum {{ generation.id }}</div>

                            <div class="card-text">
                                {{ generation.melodies.first.generation|ordinal }} Generación
                            </div>
                            <div class="card-text mb-2">
                                Duración: {{ generation.duration|durationformat2 }}
                            </div>
                            <div class="card-created">{{ generation.created_at|custom_date }}</div>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
            <hr />
        </div>
    </div>
</div>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        const saludo = document.getElementById("saludo");
        const horaActual = new Date().getHours();

        if (horaActual >= 6 && horaActual < 12) {
            saludo.textContent = "Buenos días";
        } else if (horaActual >= 12 && horaActual < 18) {
            saludo.textContent = "Buenas tardes";
        } else {
            saludo.textContent = "Buenas noches";
        }

        const cards = document.querySelectorAll(".clickable");
        cards.forEach((card) => {
            card.addEventListener("click", function () {
                const href = card.getAttribute("data-href");
                if (href) {
                    window.location.href = href;
                }
            });
        });
    });
</script>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        const cards = document.querySelectorAll(".clickable");
        cards.forEach((card) => {
            card.addEventListener("click", function () {
                const href = card.getAttribute("data-href");
                if (href) {
                    window.location.href = href;
                }
            });
        });
    });
</script>

{% endblock %}